<footer class="bg-dark text-white py-4 mt-5">
  <div class="container">
    <div class="row">
      <!-- Colonne pour le logo -->
      <div class="col-md-4">
        <a class="navbar-brand" href="#" style="font-weight: bold; color: #f8f9fa;">
          <img src="assets/images/logo.png" alt="EasyTrip Logo" style="width: 40px; height: 40px; margin-right: 10px;">
          EASY-Trip
        </a>
        <p class="mt-2">Votre partenaire pour des voyages inoubliables.</p>
      </div>

     

      <!-- Colonne pour les informations de contact -->
      <div class="col-md-4">
        <h5>Contact</h5>
        <p>Email: <a href="mailto:support@easytrip.com" class="text-white">support.easytrip.com</a></p>
        <p>Téléphone: +123 456 7890</p>

        <!-- Icônes sociales -->
        <div>
          <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
          <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Ligne de copyright -->
  <div class="text-center mt-4">
    <p class="mb-0">&copy; 2025 EASY-Trip. Tous droits réservés.</p>
  </div>
</footer>
